// SASS VARIABLES
// body
$ac-body: #000; 
$ac-body-hover: #B8860B;

// First div
$fds-bgc: #FFF;
$fds-ul: #999;
$fds-a-bb: #CCC;
$fds-a-bg: #EEE;
$fds-a-bg-h: #666;
$fds-a-bb-h: #666;
$fds-a-tx-sh-h: #333;

// Second div
$sds-bgp: #FFF;
$sds-bgp-a-clr: #FFF;
$sds-bgp-a-bd: #FFF;
$sds-bgp-a-bg: #000;
$sds-bgp-a-bg-h: #4169E1;
$sds-bgp-a-bg-h-brd: #4169E1;
$sds-bgp-h1-span: #FFD700;

// Third div
$tds-bgld: #FFD700;
$tds-bgld-a-bgc: #FFF;
$tds-bgld-a-brd-bt: #CCC;
$tds-bgld-a-sp-h-c: #666;
$tds-bgld-a-sp-h-bgc: #EEE;

// Fifth div
$fithds-bg-black-bgc: #212121;
$fithds-bg-black-c: #FFF;
$fithds-bg-black-form-inp-bgc: #FFD700;
$fithds-bg-black-form-inp-c: #000;